<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="doitsu.technology.packages" value="https://pkgs.dev.azure.com/doitsutechnology/_packaging/Doitsu.Technology/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <doitsu.technology.packages>
      <add key="Username" value="thd1152018@gmail.com" />
      <add key="ClearTextPassword" value="rut3gh74typc6ijxz5iwvwkvsaogtfbwesfznkxz3lvf2mohm5sa" />
    </doitsu.technology.packages>
  </packageSourceCredentials>
</configuration>