<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="doitsu.technology.packages" value="https://pkgs.dev.azure.com/doitsutechnology/_packaging/Doitsu.Technology/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <doitsu.technology.packages>
      <add key="Username" value="#{secretBuilderEmail}#" />
      <add key="ClearTextPassword" value="#{secretBuilderPat}#" />
    </doitsu.technology.packages>
  </packageSourceCredentials>
</configuration>
